body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    width: 90%;
    background: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input, button {
    padding: 8px;
    margin: 5px;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

.delete-btn {
    background: red;
}